{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flux/flux.css' %}">
</head>
<body>
    <div>
        <h3>Mes posts</h3>
        <div>
            <div class='content'>
                <div class='site_zone'>
                    <div class='site_name'>
                        <p>LITReview</p>
                    </div>
                    <div class='nav'>
                        {% include 'LITReview/navbar.html' %}
                    </div>
                </div>
            </div>
            <div class='content'>
                <div class= 'listing'>
                    {% for element in tickets %}
                        <div class="ticket">
                            <h3>{{element.title}}</h3> <p>Par {{element.user}} Le {{element.time_created}}</p>
                            {% if element.picture and element.picture != "" %}
                            <img class='picture' src="{% get_media_prefix %}{{ element.picture }}" alt="{{ element.picture }}"><br>
                            {% endif %}
                            description: {{element.description}}<br>
                            {% if element.headline is not None and element.time is not None %}
                                <br><h6>Review associée:</h6>
                                {% if element.review_user != element.user.username %}
                                    Réalisée par {{element.review_user}}
                                {% endif %} 
                                Le {{element.time}} <br>
                                headline: {{element.headline}}<br> 
                                critique: {{element.body}}<br>
                                {% if element.rating is not None %}
                                    <p>Note: <span class="displayRate">{{element.rating}}</span>/5</p>
                                    <div class="result">
                                        <i class="show-star rating-star-1" value="1" data-target="rate"><img class="starimg" src="media/images/star.png" alt=""></i>
                                        <i class="show-star rating-star-2" value="2" data-target="rate"><img class="starimg" src="media/images/star.png" alt=""></i>
                                        <i class="show-star rating-star-3" value="3" data-target="rate"><img class="starimg" src="media/images/star.png" alt=""></i>
                                        <i class="show-star rating-star-4" value="4" data-target="rate"><img class="starimg" src="media/images/star.png" alt=""></i>
                                        <i class="show-star rating-star-5" value="5" data-target="rate"><img class="starimg" src="media/images/star.png" alt=""></i>
                                    </div> 
                                {% endif %}
                            {% endif %}
                            <form action="" method="POST">
                                <div class="post_modification"> 
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" ><a href="{% url 'modify' ticket_number=element.id %}">Modifier</a></button>
                                        <button class="btn btn-outline-info" name="suppress" type="submit" value={{element.id}}>Supprimer</button>
                                    </div>
                                    <br>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                    {% if paginate %}
                        <div class="clearfix"></div>
                        <nav aria-label="">   
                        {% if tickets.has_previous %}
                            <a href="?page={{ tickets.previous_page_number }}">Précédent</a>
                        {% endif %}
                        {% if tickets.has_next %}
                            <a href="?page={{ tickets.next_page_number }}">Suivant</a>
                        {% endif %}
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="{% static 'js/flux/rating.js' %}"></script>
</html>