body{
    background-color: #e6e6ff;
}
h1{
    margin: 2% 0 2% 10%;
}
h3{
    font-size: 1.5em;
}
input{
    margin: 4px;
}
button{
    margin: 6px;
}
ul{
    background-color: white;
    width: 100%;
    margin: auto;
}
li{
    width: 25%;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:gainsboro;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1%;
    padding: 1% 10% 1% 10%;
}
.site_zone{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site_name{
    text-align: center;
    margin: auto;
    background-color: #ff8c66;
    line-height: auto;
    width: 90%;
}
.lit{
    font-size: 2em;
    font-weight: bolder;
    margin: 1% 0% 1% 0%
}
.nav{
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: blue;
}
.navbar{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.logout{
    color: red;
}
.action{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 10px 25px 10px;
    
}

.listing{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.flux{
    color: orange;
    margin-bottom: 20px;
}
.ticket{
    width: 600px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black;
}
.picture{
    width: 25%;
    margin-bottom: 10px;
}

.rating {
    overflow: hidden;
    display: table;
    font-size: 20px;
    color: #FFCA00;
    font-style: normal;
}
  
.rating-star {
    padding: 0 5px;
    margin: 0;
    cursor: pointer;
    display: block;
    float: right;
}
  
.rating-star:after {
    position: relative;
    font-family: FontAwesome;
    content: '\f006';
}
  
.rating-star.checked ~ .rating-star:after,
.rating-star.checked:after {
    content: '\f005';
}
  
.rating:hover .rating-star:after {
    content: '\f006';
}
  
.rating-star:hover ~ .rating-star:after,
.rating-star:hover:after {
    content: '\f005' !important;
}

.result{
    justify-self: center;
}
.starimg{
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
}
.rating-star-1 {
    background-color: None;
}


