{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flux/flux.css' %}">
</head>
<body>
    <div>
        <h3>Demande de critique</h3>
        <div>
            <div class='content'>
                <div class='site_zone'>
                    <div class='site_name'>
                        <p>LITReview</p>
                    </div>
                    <div class='nav'>
                        {% include 'LITReview/navbar.html' %}
                    </div>
                </div>
            </div>
            <div class='content'>
                <div class='action'>
                    <div class='ticket'>
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset>
                                <p>Titre: {{form.title}}</p><br>
                                <p>Description: {{form.description}}</p><br>
                                <p>Ajouter une image {{form.picture}}</p><br>
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>src="{% static 'js/flux/answer.js' %}"</script>
</html>