body{
    background-color: #e6e6ff;
    height: 100%;
}
h1{
    margin: 2% 0 2% 10%;
}
h3{
    font-size: 1.5em;
    text-align: center;
}

.writing_zone{
    display: flex;
    flex-direction: column;
    width: 35em;
}

.action{
    display: flex;
    justify-content: space-around;
}

.content{
    border: 2px solid black;
    border-radius: 5px;
    margin: 1%;
    background-color: gainsboro;
}

.title{
    text-align: center;
    font-size: 2.5em;
    line-height: 0px;
}

.sign_in{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.log_in{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label{
    margin: auto;
    text-align: center;
}
.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin: 6px;
    height: 1,8em;
    width: 100%;
}

.links{
    display:flex;
    flex-direction: column;
}

button{
    margin: 12px;
    justify-content: center;
    align-items: center;
}
.sign-up-form{
    padding-right: 2%;
}