{% load static %}
<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inscription</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/compte/sign_up.css' %}">
    </head>
    <body>    
        <div>
            <h3>Formulaire d'inscription</h3>
            <div>
                <div class='content title'><p>LITReview</p></div>
                <div class='content action'>
                    <div class='sign_in'>
                        <div><h3>Inscrivez-vous!</h3></div>
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">   
                                <div class=sign-up-form>
                                    {{ form.as_p }}
                                </div>
                            </fieldset>
                            {{form.errors}}
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">S'inscrire</button>
                            </div>
                        </form>

                            <div class="border-top pt-3">
                                <small class="text-muted">
                                    Vous avez déjà un compte? ><a class="ml-2" href="{% url 'returner' %}">Se connecter</a>
                                </small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>